.PcHeader{
position: fixed;
background-color: transparent;
height: 10vh;
width: 100%;
}



.header_box{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 1.5vh auto;
}

.PcMenuBox{
display: flex;
}

.PcMenuBtn{
margin: 0 0.5vh 0 0.5vh;
}

.MobHeader{
    position: fixed;
    background-color: transparent;
    height: 5vh;
    width: 100%;
}

.MobMenuListBox{
    display: none;
    width: 100%;
}
.MobMenuList{
display: grid;
margin: 1vh;
}